# Environments
.env
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/

# Database
db.sqlite3
chroma_db/

# Django
static/
staticfiles/
media/
